html{
  font-size: 100px;
}
body{
  font-size: 12px;
}
.clear::after{
  content:"";
  display:table;
  clear: both;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.w-100{
  width: 100%;
}
li{
  list-style: none;
}
.ps-rel{
  position: relative;
} 
.hover{
  cursor: pointer;
}