@b c-date {
  position: relative;
  user-select: none;

  @e wrapper {
    position: absolute;
    /* top: 30px; */
    bottom: 100%;
    left: 0;
    color: #606266;
    border: 1px solid #e4e7ed;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 4px;
    line-height: .3rem;
    margin: .05rem 0;
    width: 3.22rem;
    z-index: 333;
  }
  @e header {
    text-align: center;
    margin: .12rem .12rem 0;
    padding-bottom: .12rem;
    border-bottom: solid 1px #EBEEF5;
  }
  @e icon{
    font-size: .12rem;
    color: #303133;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    margin-top: .08rem;
    padding: .01rem .06rem;
  }
  @e icon:hover{
    color: #409eff;
  }
  @e label i:hover{
    color: #409eff;
  }
  @e label{
    font-size: .16rem;
    font-weight: 500;
    padding: 0 .5rem;
    line-height: .22rem;
    text-align: center;
    cursor: pointer;
    color: #606266;
  }
  @e tab{
    table-layout: fixed;
    width: 100%;
    font-size: .13rem;
    margin: -1px;
    border-collapse: collapse;
  }
  @e tab td{
    text-align: center;
    padding: .30rem 0;
    cursor: pointer;
  }
  @e tab td{
    &.c-date__year{
      padding: 20px 3px;
      &.active{
        color: #409eff;
        font-weight: 700;
      }
      &.month{
        padding: 20px 3px;
      }
    }
  }
  @m year:hover{ color: #409eff;}
  @e tab td .c-date__cell:hover {
    color: #409eff;
  }
}